<!DOCTYPE html>
    <head>
        <title>KodoMeal 検索画面</title>
    </head>
    <body>
        <div class="header">
            <h1 class="app-title">KodoMeal</h1>
        </div>
        
        <form method="get" class="search-form">
            <input type="text" class="keyword-input" name="keyword" placeholder="キーワード入力">
            
            <div class="menu-tag-group">
                <h2 class="menu-title">Kids Menu</h2>
                
                <button type="button" class="menu-tag-button">うどん</button>
                <button type="button" class="menu-tag-button">ラーメン</button>
                <button type="button" class="menu-tag-button">カレー</button>
                <button type="button" class="menu-tag-button">パスタ</button>
                
            </div>
            
            <button type="button" class="detail-search-button">＋詳細検索</button>
            <button type="submit" class="search-button">検索する</button>
        </form>
        
        <nav class="bottom-nav">
            {% if request.user.is_authenticated %}
                <button type="button" class="nav-button">お気に入り</button>
                <button type="button" class="nav-button">検索する</button>
                <button type="button" class="nav-button">マイページ</button>
            {% else %}
                <button type="button" class="nav-button">お気に入り</button>
                <button type="button" class="nav-button">検索する</button>
                <a href="{% url 'login' %}" class="nav-button">ログイン</a>
            {% endif %}
        </nav>
    </body>
    </html>