{% extends 'base.html' %}

{% block title %}お気に入り{% endblock %}

{% block extra_css %}
<style>
    body {
        max-width: 390px;
        margin: 0 auto;
        padding: 16px;
        box-sizing: border-box;
    }

    .closed-label {
        display: inline-block;
        margin-left: 4px;
        padding: 2px 6px;
        border-radius: 10px;
        background-color: #eee;
        color: #777;
        font-size: 11px;
        font-weight: normal;
    }

    .store-card-link {
        display: flex;
        text-decoration: none;
        color: inherit;
        flex: 1;
        min-width: 0;
    }

    .store-card {
        display: flex;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 12px;
        margin-bottom:12px;
        background-color: #fff;
    }

    .store-image {
        width: 90px;
        height: 90px;
        border: 1px solid #ccc;
        background-color: #f3f3f3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #777;
        flex-shrink: 0;
        margin-right: 10px;
        flex-shrink: 0;
        overflow: hidden;
    }

    .store-card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .store-info {
        flex: 1;
        min-width: 0;
    }

    .store-info h2 {
        font-size: 16px;
        margin: 0 0 6px;
        word-break: keep-all;
    }

    .store-info p {
        margin: 4px 0;
        font-size: 13px;
    }

    .menu-tag {
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 12px;
        padding: 2px 8px;
        margin: 2px;
        font-size: 12px;
    }

    .favorite-button {
        position: absolute;
        right: 12px;
        bottom: 12px;
        font-size: 22px;
        border: none;
        background: none;
        cursor: pointer;
    }

    .selected-menu-area {
        maegin: 8px 0 12px;
    }

    .selected-menu-area{
        font-size: 13px;
        margin-bottom: 4px;
    }

</style>
{% endblock %}

{% block content %}

<h1>お気に入り</h1>

{% if favorites %}
    <div class="result-list">
        {% for store in favorites %}
            <div class="store-card">

                <a href="{% url 'store_detail' store.id %}" class="store-card-link">
                    <div class="store-image">
                        {% if store.main_image %}
                            <img src="{{store.main_image.image.url }}" alt={{ store.name }} class="store-card-image">
                        {% else %}
                            <span>画像</span>
                        {% endif %}
                    </div>

                    <div class="store-info">
                        <h2>
                            {{ store.name }}
                            {% if store.is_closed %}
                                <span class="closed-label">閉店</span>
                            {% endif %}
                        </h2>

                        <p>Kids Menu</p>

                        <div class="kids-menu-list">
                            <span class="menu-tag">投稿データから反映予定</span>
                        </div>

                        <p>投稿　{{ store.posts_count }}件</p>
                    </div>
                </a>

                <form method="post" action="{% url 'toggle_favorite' store.id %}">
                    {% csrf_token %}
                    <button type="submit" class="favorite-button">❤️</button>
                </form>
                
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>お気に入り店舗はまだありません</p>
{% endif %}

{% endblock %}