<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>

    <h1 class="login-title">ログイン</h1>

    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="login-button">ログイン</button>
    </form>

    <div class="link-area">
        <a href="#" class="register-link">アカウントをお持ちでない方はこちら</a></br>
        <a href="#" class="reset-link">パスワードを忘れた方はこちら</a></br>
        <a href="/" class="back-link">トップ画面に戻る</a>
    </div>

</body>
</html>
