<!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>マイページ</title>
    </head>
    <body>

        <a href="javascript:history.back()" class="back-link">◀︎戻る</a>

        <h1>マイページ</h1>

        <p>ユーザー名：{{ request.user.username }}</p>

        <div class="mypage-section">
            <a href="#" class="mypage-row">
                <span>投稿</span>
                <span>（{{ posts|length }}件）</span>
                <span>＞</span>
            </a>

            <a href="#" class="mypage-row">
                <span>下書き</span>
                <span>（{{ drafts|length }}件）</span>
                <span>＞</span>
            </a>
        </div>

        <div class="mypage-section">
            <a href="#" class="mypage-row">
                <span>未登録店舗登録</span>
                <span>＞</span>
            </a>
        
            <a href="#" class="mypage-row">
                <span>アカウント編集</span>
                <span>＞</span>
            </a>

            <a href="{% url 'logout' %}" class="mypage-row">
                <span>ログアウト</span>
                <span>＞</span>
            </a>
        </div>

    </body>
    </html>
