{% extends 'base.html' %}

{% block title %}投稿一覧{% endblock %}

{% block extra_css %}
<style>
    body {
        max-width: 390px;
        margin: 0 auto;
        padding: 16px;
        box-sizing: border-box;
    }

    .post-card {
        border: 1px solid #ddd;
        border-radius: 16px;
        padding: 12px;
        margin-bottom:12px;
    }

    .post-card-link {
        text-decoration: none;
        color: inherit;
    }

    .back-link {
        text-decoration: none;
        color: #333;
    }

    .post-card p {
        margin: 6px 0;
    }

    .post-image-list {
        display: flex;
        gap: 8px;
        margin: 8px 0;
    }

    .post-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 8px;
        flex-shrink: 0;
    }
    
    .sort-form {
        text-align: right;
        margin: 12px 0;
    }

    .sort-form select {
        padding: 6px 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #fff;
    }
</style>
{% endblock %}

{% block content %}

<a href="{% url 'mypage' %}" class="back-link">◀︎戻る</a>

<h1>投稿済み一覧</h1>

<form method="get" class="sort-form">
    <select name="sort" onchange="this.form.submit()">
        <option value="new" {% if sort == 'new' %}selected{% endif %}>
            新しい順
        </option>
        <option value="old" {% if sort == 'old' %}selected{% endif %}>
            古い順
        </option>
    </select>
</form>

{% if posts %}
    {% for post in posts %}
    <a href="{% url 'post_edit' post.id %}" class="post-card-link">
        <div class="post-card">
            <h2>{{ post.store.name }}</h2>

            {% if post.images.all %}
                <div class="post-image-list">
                    {% for image in post.images.all %}
                        <img src="{{ image.image.url }}" alt="投稿画像" class="post-image">
                    {% endfor %}
                </div>
            {% endif %}

            <p>メニュー名：{{ post.menu_name }}</p>
            <p>対象年齢：{{ post.target_age }}</p>
            <p>量：{{ post.quantity }}</p>
            <p>評価：{{ post.rating }}</p>
            <p>{{ post.content }}</p>
        </div>
    </a>
{% endfor %}
{% else %}
        <p>投稿はまだありません</p>
{% endif %}

{% endblock %}