<!DOCTYPE html>
    <html lang='ja'>
    <head>
        <meta charset="UTF-8">
        <title>体験投稿一覧</title>

        <style>
        .sort-form {
            text-align: right;
            margin: 12px 0;
        }

        .sort-form select {
            padding: 6px 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
        }
        </style>
    </head>
    <body>

    {% if store %}
        <a href="{% url 'store_detail' store.id %}">◀︎戻る</a>

        <h1>{{ store.name }}</h1>
        <h2>体験投稿一覧</h2>

        <form method="get" class="sort-form">
            <select name="sort" onchange="this.form.submit()">
                <option value="new" {% if sort == 'new' %}selected{% endif %}>
                    新しい順
                </option>
                <option value="old" {% if sort == 'old' %}selected{% endif %}>
                    古い順
                </option>
            </select>
        </form>

        {% if posts %}
            {% for post in posts %}
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">

                    {% if post.images.all %}
                        <div class="post-image-list">
                            {% for image in post.images.all %}
                                <img src="{{ image.image.url }}" alt="投稿画像" style="width:100px; height:100px; object-fit:cover;">
                            {% endfor %}
                        </div>
                    {% endif %}

                    <p>評価：{{ post.rating }}</p>
                    <p>{{ post.content }}</p>

                    <hr>

                    <p>キッズメニュー：{{ post.menu_name }}</p>
                    <p>対象年齢：{{ post.target_age }}</p>
                    <p>量：{{ post.quantity }}</p>

                    <p>設備情報：</p>
                    {% if post.is_stroller_ok or post.has_kids_chair or post.has_diaper_table or post.has_kids_space or post.has_kids_cutlery or post.seat_types.all %}
                        <ul>
                            {% if post.is_stroller_ok %}
                                <li>ベビーカーOK</li>
                            {% endif %}

                            {% if post.has_kids_chair %}
                                <li>キッズチェア</li>
                            {% endif %}

                            {% if post.has_diaper_table %}
                                <li>おむつ交換台</li>
                            {% endif %}
                                       
                            {% if post.has_kids_space %}
                                <li>キッズスペース</li>
                            {% endif %}

                            {% if post.has_kids_cutlery %}
                                <li>キッズカトラリー</li>
                            {% endif %}
                                   
                            {% for seat_type in post.seat_types.all %}
                                <li>{{ seat_type.get_seat_type_display }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>設備情報なし</p>
                    {% endif %}

                    <p>{{ post.created_at }}</p>
                </div>
            {% endfor%}
        {% else %}
            <p>まだ投稿がありません</p>
        {% endif %}

    {% else %}
        <p>店舗が見つかりませんでした</p>
    {% endif %}

    <nav class="bottom-nav">
        <a href="{% url 'favorite_list' %}" class="nav-button">お気に入り</a>
        <a href="{% url 'app_top' %}" class="nav-button">検索する</a>

        {% if store %}
            <a href="{% url 'post_create' store.id %}" class="nav-button">投稿する</a>
        {% endif %}

        {% if request.user.is_authenticated %}
            <a href="{% url 'mypage' %}" class="nav-button">マイページ</a>
        {% else %}
            <a href="{% url 'login' %}" class="nav-button">ログイン</a>
        {% endif %}
    </nav>

    </body>
    </html>